/* Styles for example pages */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
img,object,embed {
	width: 100%;
	margin-right: auto;
	display: block;
	max-width: 100%;
	padding: 20px;
}
body {
	margin: 0 auto;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 1rem; 
	font-weight: bold;
	line-height: 1.4em;
	background: #F9F9F9;
	color: #666666;
}
#timeline {
	margin: 0% 5%;
}
.navbar {
	background-color: #001cff !important;
	margin-bottom: 50px;
}
.navbar a {
	color: #FFF;
}
.navbar a:hover {
	text-decoration: underline;
}
.navbar-toggler-icon {
	background-color: white;
}
